PORT=3000
DATABASE_URL="mysql://root:@localhost:3306/psiclife"

JWT_SECRET=pon_aqui_una_cadena_larga_aleatoria_minimo_32_chars
JWT_EXPIRES_IN=15m

NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Mailpit (desarrollo) o SMTP (producción)
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=PsicLife
MAIL_FROM_ADDRESS=noreply@psiclife.pe
